extend templates/default

block content
    .container
        //- put your content here

        img(src="img/qualy.png", alt="Qualy Boilerplate")

        - var tech = ['ES6', 'Gulp', 'Stylus', 'Jade', 'Browsersync', 'Husky Hooks', 'JSCS']

        h2 Technologies:

        ul
            each val in tech
                li= val
